
/*
Base Element styles
 */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  margin: 0;
  display: block;

}

h3{
  margin: 70px;
}

h1,h3, .con, h2{
  text-align:center;
}

h1{
  margin-top: 0;
}
.top{
  text-align: right;
}

header{
  background-color: lightgrey;
}
.name{
  margin-bottom: 9px;
}
.main-nav{
  padding-left: 0;
  list-style: none;
  text-align: center;
}
/*
Base layout styles
*/

.marketing, .search, .travel, .map, .photo, .calcul{
  width: 40%;

}

.name{
  float: left;
}

.top{
  float: right;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

img{
  position: relative;
  top: -19px;
  min-height: 4%;
  max-width: 100%;
}

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }


@media (min-width: 768px) {
  .container{
    width: 90%;
    margin: 0 auto;
  }

  h2{
    font-size: 17px;
  }

  p{
    font-size: 13px;
  }

  .con{
    background-color: lightgrey;
    height: 134px;
 }

 .marketingimage{
   margin-left: -414px;
 }
 .mk{
   position: relative;
   top:-49px;
 }
  .spage{
   margin-top: -59px;
 }

 .spage, .sp,.search, .searchpage{
  float: right;
  width: 276px;
}

.tp,.tapp, .travel, .travelapp{
  float: right;
  width: 276px;
}

.mp,.mapp,.mapimg,.map{
  width: 276px;
}

.pg, .photo,.photoimg,.gallery{
  float: right;
  width: 276px;
}


.marketingimage, .sp{
  position: relative;
  top:-16px;
}

.mparagraph, .sp{
  position: relative;
  right: -45px;
}

.search{
  margin-top: -214px;
}
.searchpage{
position: relative;
top: -70px;
}

.sp{
  margin-top: -40px;
}

.travelapp{
  position: relative;
  top: -9px;
}
  .main-header{
    background-color: lightgrey;
    padding: 1em 0;
    height: 370px;
    margin-right: -90px;
  }


.profile-image{
  float: right;
  margin-top: 49px;
}

.introduction{
  margin-top:64px;
}



.main-nav{
  display: none;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}


}
