
/*
Base Element styles
 */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  margin: 0;
  display: block;

}

h3{
  margin: 70px;
}

h1,h3, .con, h2{
  text-align:center;
}

h1{
  margin-top: 0;
}
.top{
  text-align: right;
}

header{
  background-color: lightgrey;
}
.name{
  margin-bottom: 9px;
}
.main-nav{
  padding-left: 0;
  list-style: none;
  text-align: center;
}
/*
Base layout styles
*/

.marketing, .search, .travel, .map, .photo, .calcul{
  width: 40%;

}

.name{
  float: left;
}

.top{
  float: right;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

img{
  min-height: 4%;
  max-width: 100%;
}

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }


@media (min-width: 768px) {
  .container{
    width: 90%;
    margin: 0 auto;
  }

  .con{
    background-color: lightgrey;
    height: 134px;
 }

 .marketingimage{
   margin-left: -444px;
   margin-bottom: 9px;
   height: 40px;
 }

.search{
  float: right;
  margin-top: -264px;
  margin-left: -80px;
}

.searchpage{
  margin-right: -444px;
  margin-top: -98px;
}

.sp{
  height: 88px;
}
  h1 {
    text-align: center;
    margin-top: 0;
  }

  h3{
    margin: 99px;
    text-transform: uppercase;
  }

  .main-header{
    background-color: lightgrey;
    padding: 1em 0;
    height: 511px;
    margin-right: -90px;
  }

.main-nav li{
  display: inline-block;
  width: 96px;
  text-align: center;

}

.profile-image{
  float: right;
  margin-top: 49px;
}

.introduction{
  margin-top:64px;
}



.main-nav{
  display: none;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}


}
