*{
  box-sizing: border-box;
}

.name{
  list-style-type: none;
  text-align: left;
  display: block;
}

li{
  list-style-type: none;
 justify-content: space-around;
 display: inline;
 text-align: right;


}
